{
  "openapi": "3.0.1",
  "info": {
    "title": "MarketONE APIs",
    "license": {
      "name": "Amdocs Inc.",
      "url": "http://www.amdocs.com"
    },
    "version": "2021.02.Released"
  },
  "servers": [
    {
      "url": "https://int-prodtest.m1amdocs.io/",
      "description": "Sandbox server (uses test data)"
    },
    {
      "url": "https://int.m1amdocs.com/",
      "description": "Production server (uses live data)"
    }
  ],
  "paths": {
    "/submgmt/v2/subscriptions": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Get Subscriptions",
        "description": "Retrieves a list of Subscriptions. This can be used to get a cross-account list of subscriptions, or for a given account using the “account” query parameter.",
        "operationId": "getSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned, between 1 and 100.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Limit the subscription list to a specified account id or vid - if specified, all Subscriptions associated with that Account.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_children",
            "in": "query",
            "description": "Indicates whether or not to return any existing child accounts’ subscriptions for a given returned Subscription/account combination.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Limit the Subscription list to those associated with a specific email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Limit the Subscription list to those that have a specified product id or vid as a SubscriptionItem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "description": "Integer count of the number of items in the returned list."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The query string provided in the request"
                    },
                    "next": {
                      "type": "string",
                      "description": "The route (partial URL) to the next Subscription object (string to select the “next”); included id should match that of the last object returned here"
                    },
                    "previous": {
                      "type": "string",
                      "description": "The route (partial URL) to the previous Subscriptions object (string to select the “previous”); included id should match that of the first object returned here"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Create Subscription",
        "description": "Create Subscription",
        "operationId": "createSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "dryrun",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Indicates whether to commit changes or return results without execution."
          }
        ],
        "requestBody": {
          "description": "A Request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid-plm-product",
                        "invalid-partner-agreement",
                        "invalid-request"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Error"
                      }
                    },
                    "debugTrace": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "The Error object contains information about the error. invalid-plm-product - The PLM product referenced by the product defined in the SLM cannot be found. invalid-partner-agreement - Unable to find agreement for the partner product referenced by the SLM product  in the create subscription operation. invalid-request - generic error code used for other validation errors."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/submgmt/v2/subscriptions/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Get Subscription",
        "description": "Retrieves a specific Subscription.",
        "operationId": "fetch",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Update Subscription",
        "description": "Update, amend, or modify a Subscription. See MarketONE Knowledgebase regarding various modify scenarios and additional approaches. \n\nMost common modifications are **Billing Plan Change**, **Add** or **Remove** a Subscription Item. \n\n**Replace an existing Subscription Item** with a new one. This request supports the same arguments as 'create’ (a full Subscription object) excepting the behavior of the ids; providing an id or vid in the URL indicates to MarketONE that this is an update, not a create – as such, id and vid cannot be updated. Certain changes will modify the subscribed service:\n\n**Billing Plan Change**: Providing a new Billing Plan will change the billing plan/schedule for the subscription as of the effective_date. Replace an existing/active Item with a new Item: Include a new `SubscriptionItem` populating the “replaces” parameter with the id of the existing item being replaced. Add a new Item: Include a new `SubscriptionItem` (leaving undefined the “replaced_by” and “replaces” parameters). \n\n**Remove an existing Item**: Include a new but empty/undefined `SubscriptionItem` populating **ONLY** the “replaces” parameter with the id of the existing item being removed. All changes will take effect as of the effective_date provided; Proration calculations, when required, will use the period between the last scheduled billing and the effective_date (calculated to whole days).\n",
        "operationId": "updateSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_prorated_period",
            "in": "query",
            "description": "Indicates whether to prorate for unused service portions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "effective_date",
            "in": "query",
            "description": "Billing date at which changes take effect; today or next_billing",
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "new_billing_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Indicates whether to commit changes or return results without execution",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "A Request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription_Update_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/submgmt/v2/subscriptions/{id}/actions/cancel": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Cancel Subscription",
        "description": "Cancel a subscription, with options to select immediate disentitlement versus registering the cancel now to take affect at the end of the current period; to select whether any pre-paid services should get a prorated refund; and to select whether or not an existing minimum commitment should be honored. The reason for the cancellation can also be tracked using Cancel Reason codes (which can use pre-defined codes or codes you’ve designed yourself in advance).",
        "operationId": "cancelSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to cancel",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disentitle",
            "in": "query",
            "required": true,
            "description": "Indicates whether or not to dis-entitle immediately or leave service in effect until the end of the current billing period.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Indicates whether to ignore unsatisfied minimum commitments",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "settle",
            "in": "query",
            "required": true,
            "description": "Indicates whether to issue a prorated refund for any pre-paid unconsumed services and to rate unbilled usage.",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "send_cancellation_notice",
            "in": "query",
            "description": "Indicates whether to send a special cancellation notice to the customer",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "$ref": "#/components/parameters/reasonCode"
          },
          {
            "name": "dryrun",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/submgmt/v2/subscriptions/{id}/actions/reactivate": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Reactivate Subscription",
        "description": "Reactivating a subscription makes a Subscription in Pending Cancel status Active again.",
        "operationId": "reactivateSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Subscription to reactivate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/intgw/v2/subscriptions": {
      "get": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Get Subscriptions",
        "description": "Retrieves a list of Subscriptions. This can be used to get a cross-account list of subscriptions, or for a given account using the “account” query parameter.",
        "operationId": "getSubscriptionDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "A limit on the number of objects to be returned, between 1 and 100.",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A cursor for use in pagination. starting_after is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with obj_foo, your subsequent call can include starting_after=obj_foo in order to fetch the next page of the list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "A cursor for use in pagination. ending_before is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with obj_bar, your subsequent call can include ending_before=obj_bar in order to fetch the previous page of the list.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Limit the subscription list to a specified account id or vid - if specified, all Subscriptions associated with that Account.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_children",
            "in": "query",
            "description": "Indicates whether or not to return any existing child accounts’ subscriptions for a given returned Subscription/account combination.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Limit the Subscription list to those associated with a specific email.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "product",
            "in": "query",
            "description": "Limit the Subscription list to those that have a specified product id or vid as a SubscriptionItem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "description": "Integer count of the number of items in the returned list."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Subscription"
                      }
                    },
                    "url": {
                      "type": "string",
                      "description": "The query string provided in the request"
                    },
                    "next": {
                      "type": "string",
                      "description": "The route (partial URL) to the next Subscription object (string to select the “next”); included id should match that of the last object returned here"
                    },
                    "previous": {
                      "type": "string",
                      "description": "The route (partial URL) to the previous Subscriptions object (string to select the “previous”); included id should match that of the first object returned here"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      },
      "post": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Create Subscription",
        "description": "Create Subscription",
        "operationId": "createSubscriptionDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "dryrun",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Indicates whether to commit changes or return results without execution."
          }
        ],
        "requestBody": {
          "description": "A Request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid-plm-product",
                        "invalid-partner-agreement",
                        "invalid-request"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "validationErrors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Error"
                      }
                    },
                    "debugTrace": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "description": "The Error object contains information about the error. invalid-plm-product - The PLM product referenced by the product defined in the SLM cannot be found. invalid-partner-agreement - Unable to find agreement for the partner product referenced by the SLM product  in the create subscription operation. invalid-request - generic error code used for other validation errors."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/intgw/v2/subscriptions/{id}": {
      "get": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Get Subscription",
        "description": "Retrieves a specific Subscription.",
        "operationId": "fetchDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      },
      "post": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Update Subscription",
        "description": "Update, amend, or modify a Subscription. See MarketONE Knowledgebase regarding various modify scenarios and additional approaches. \n\nMost common modifications are **Billing Plan Change**, **Add** or **Remove** a Subscription Item. \n\n**Replace an existing Subscription Item** with a new one. This request supports the same arguments as 'create’ (a full Subscription object) excepting the behavior of the ids; providing an id or vid in the URL indicates to MarketONE that this is an update, not a create – as such, id and vid cannot be updated. Certain changes will modify the subscribed service:\n\n**Billing Plan Change**: Providing a new Billing Plan will change the billing plan/schedule for the subscription as of the effective_date. Replace an existing/active Item with a new Item: Include a new `SubscriptionItem` populating the “replaces” parameter with the id of the existing item being replaced. Add a new Item: Include a new `SubscriptionItem` (leaving undefined the “replaced_by” and “replaces” parameters). \n\n**Remove an existing Item**: Include a new but empty/undefined `SubscriptionItem` populating **ONLY** the “replaces” parameter with the id of the existing item being removed. All changes will take effect as of the effective_date provided; Proration calculations, when required, will use the period between the last scheduled billing and the effective_date (calculated to whole days).\n",
        "operationId": "updateSubscriptionDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bill_prorated_period",
            "in": "query",
            "description": "Indicates whether to prorate for unused service portions.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "effective_date",
            "in": "query",
            "description": "Billing date at which changes take effect; today or next_billing",
            "schema": {
              "type": "string",
              "default": "today"
            }
          },
          {
            "name": "new_billing_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Indicates whether to commit changes or return results without execution",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "A Request object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Subscription_Update_Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/intgw/v2/subscriptions/{id}/actions/cancel": {
      "post": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Cancel Subscription",
        "description": "Cancel a subscription, with options to select immediate disentitlement versus registering the cancel now to take affect at the end of the current period; to select whether any pre-paid services should get a prorated refund; and to select whether or not an existing minimum commitment should be honored. The reason for the cancellation can also be tracked using Cancel Reason codes (which can use pre-defined codes or codes you’ve designed yourself in advance).",
        "operationId": "cancelSubscriptionDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Subscription to cancel",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "disentitle",
            "in": "query",
            "required": true,
            "description": "Indicates whether or not to dis-entitle immediately or leave service in effect until the end of the current billing period.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Indicates whether to ignore unsatisfied minimum commitments",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "settle",
            "in": "query",
            "required": true,
            "description": "Indicates whether to issue a prorated refund for any pre-paid unconsumed services and to rate unbilled usage.",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "name": "send_cancellation_notice",
            "in": "query",
            "description": "Indicates whether to send a special cancellation notice to the customer",
            "schema": {
              "type": "string",
              "default": "false"
            }
          },
          {
            "$ref": "#/components/parameters/reasonCode"
          },
          {
            "name": "dryrun",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/intgw/v2/subscriptions/{id}/actions/reactivate": {
      "post": {
        "deprecated": true,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "subscriptions"
        ],
        "summary": "Reactivate Subscription",
        "description": "Reactivating a subscription makes a Subscription in Pending Cancel status Active again.",
        "operationId": "reactivateSubscriptionDeprecated",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the Subscription to reactivate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/accounts": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "summary": "Create Account",
        "description": "Create Subscription",
        "operationId": "createAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "requestBody": {
          "description": "An account object",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/accounts/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "summary": "Get Account",
        "description": "Get a specific account.",
        "operationId": "getAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Account to be retrieved.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "summary": "Update Account",
        "description": "Update a specific Account. Any parameters provided will be updated, leaving other parameters unchanged.",
        "operationId": "updateAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id or the vid of the Account to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "update_behavior",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "Validate",
                "CatchUp",
                "CatchUpOrValidate"
              ]
            }
          },
          {
            "name": "replace_on_all_subscriptions",
            "in": "query",
            "description": "If false, then the a Payment Method will not be applied to any subscriptions. If it is true, it will be applied to all.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignore_avs",
            "in": "query",
            "description": "Overrides any custom or default avs policy.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "ignore_cvn",
            "in": "query",
            "description": "Overrides any custom or default cvn policy.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "An account object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "$ref": "#/components/headers/Content-Type"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/partnersub/v3/partnerSubscription": {
      "get": {
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Retrieve Billing Partner Relationships",
        "description": "Retrieve all partner subscriptions for a CSP.",
        "operationId": "getPartnerSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Aggregator-Code"
          },
          {
            "$ref": "#/components/parameters/aggregatorCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/include"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptions"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorPS"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorAccount"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v3/partnerSubscription/{id}": {
      "get": {
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Retrieve Partner Subscription details for a specific id.",
        "description": "Retrieve Partner Subscription details for a specific id.",
        "operationId": "getPartnerSubscriptionDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the partner subscription ID entity.",
            "required": true,
            "schema": {
              "maxLength": 36
            }
          },
          {
            "$ref": "#/components/parameters/X-Aggregator-Code"
          },
          {
            "$ref": "#/components/parameters/aggregatorCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscription"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorPS"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Update PartnerSubscription\"s Status",
        "description": "Update a specific PartnerSubscription\"s status. This API is only available for partners.",
        "operationId": "updatePartnerSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Aggregator-Code"
          },
          {
            "$ref": "#/components/parameters/aggregatorCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The partner subscription id (partnerSubscriptionId) value sent in \"AddSubscription\" callback payload which is M1 provided ID of the object to be updated.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "A Request object",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceStatus": {
                    "type": "string",
                    "description": "ACTIVE indicates that the service entitlement has been sucesfully provisioned, and a partner service user claimed it.",
                    "enum": [
                      "ACTIVE"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request; possible error codes returned: invalid-request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/409Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/501Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/partnersub/v2/partnerSubscription": {
      "post": {
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Create a Billing Partner Relationship",
        "description": "Initiates the creation of a Billing Partner Subscription relationship.",
        "operationId": "createPartnerSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-Aggregator-Code"
          },
          {
            "$ref": "#/components/parameters/aggregatorCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "skipConfirmation",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Optional partner code to be used in case of custom implementations like Netflix and Google",
            "required": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPartnerSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptionCreation"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorPS"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorAccount"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/partnerSubscription/{id}/reprovision": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Re-provision the Partner Subscription",
        "description": "Triggers a new partner provisioning sequence. This API is only available to CSPs. Calling this API will trigger the \"AddSubscription\" partner serivce callback.",
        "operationId": "reprovisionPartnerSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id of the partner subscription record to be reprovisioned.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Content-Type": {
                "description": "The content-type of response body.",
                "schema": {
                  "maxLength": 56,
                  "minLength": 32,
                  "pattern": ".*$",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/403Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/409Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/501Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/partnersub/v2/partnerSubscription/{id}/resend": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Re-send the partner subscription authorization request.",
        "description": "Triggers the re-sending of the partner subscription reationship authorization request (for example an one-time password). This API is only available for partners.",
        "operationId": "resendOtp",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the partner subscription ID entity.",
            "required": true,
            "schema": {
              "maxLength": 36
            }
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptionCreation"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorPS"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/partnerSubscription/{id}/validate": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Validates the partner subscription relationship",
        "description": "Submits the auhtorization value received (for example an OTP) to validate the partner subscription relationship. This API is only available for partners.",
        "operationId": "validatePartnerSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the partner subscription ID entity.",
            "required": true,
            "schema": {
              "maxLength": 36
            }
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pin": {
                    "type": "string",
                    "maxLength": 32
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptionValidation"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePinErrorResponse400"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorPS"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/partnerSubscription/{id}/confirm": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Confirms the Billing partner subscription",
        "description": "Activation confirmation for the Billing partner subscription relationship. This API is only available for partners.",
        "operationId": "confirmPartnerSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the partner subscription ID entity.",
            "required": true,
            "schema": {
              "maxLength": 36
            }
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptionConfirmation"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorPS"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/partnerSubscription/{id}/cancel": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription"
        ],
        "summary": "Cancel an active Billing partner subscription",
        "description": "Request to cancel an active Billing partner subscription relationship.",
        "operationId": "cancelBillingPartnerSubscription",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the partner subscription ID entity.",
            "required": true,
            "schema": {
              "maxLength": 36
            }
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSubscriptionCancellation"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/404ErrorPS"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/transaction/{id}/refund": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription",
          "transaction"
        ],
        "summary": "Create a new refund transaction",
        "operationId": "postRefund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id parameter is the transaction ID on which the original transaction was processed.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "requestBody": {
          "description": "A new Refund; required attributes are id, refund items, product  code passed in as \"code\" for transaction item. Original transaction id is passed as a request parameter.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OTTRefundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created Refund Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTTTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "429": {
            "$ref": "#/components/responses/error429"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/partnersub/v2/transaction": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription",
          "transaction"
        ],
        "summary": "Create a new payment transaction",
        "operationId": "postTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          }
        ],
        "requestBody": {
          "description": "A new Transaction; required attributes are id, account vid, transaction items for amount and tax as appropriate, product code passed in as \"code\" for transaction item, code value as 'TOTAL_TAX' for tax trasanction item.",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/OTTV2TransactionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully created Transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTTTransactionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "403": {
            "$ref": "#/components/responses/error403"
          },
          "409": {
            "$ref": "#/components/responses/error409"
          },
          "429": {
            "$ref": "#/components/responses/error429"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/partnersub/v2/transaction/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription",
          "transaction"
        ],
        "operationId": "getTransactionStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The extTransactionID parameter is the transaction ID on which the original transaction was processed.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "*OK* - Transaction Status successfully retrieved\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTTTransactionResponseWithoutAccount"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GETTransactionErrorResponse404"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/partnersub/v2/transaction/{transactionId}/refund/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "tags": [
          "partnerSubscription",
          "transaction"
        ],
        "operationId": "getRefund",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "The extTransactionID parameter is the transaction ID on which the original transaction was processed.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The extTransactionID parameter is the transaction ID on which the original refund was processed.",
            "required": true,
            "schema": {
              "maxLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "*OK* - Refund details successfully retrieved\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OTTRefundResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400ErrorBasic"
                }
              }
            }
          },
          "401": {
            "description": "authorization failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/401Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GETRefundErrorResponse404"
                }
              }
            }
          },
          "500": {
            "description": "internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/500Error"
                }
              }
            }
          }
        }
      }
    },
    "/slmgw/v1/transactions": {
      "get": {
        "tags": [
          "transaction"
        ],
        "summary": "list Transactions",
        "operationId": "searchAllTransaction",
        "description": "Retrieves all transactions. This API is only available to aggregators (for example CSPs).\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/starting_after"
          },
          {
            "$ref": "#/components/parameters/ending_before"
          },
          {
            "in": "query",
            "name": "order",
            "description": "Order the List of Transactions in either asc, ascending, or desc, descending order.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          {
            "in": "query",
            "name": "account",
            "description": "Limit the transaction list to a specified account id or vid - if specified, all Transactions associated with that Account. Either Account or subscription required",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subscription",
            "description": "Limit the transaction list to a specified subscription id or vid - if specified, all Transactions associated with that subscription.Either Account or subscription required",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_children",
            "description": "Indicates whether or not to return any existing child accounts’ transactions for a given returned Subscription/account combination.",
            "required": false,
            "schema": {
              "type": "string",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "campaign",
            "description": "Limit the transaction list to a specified campaign id or vid - if specified, all Transactions associated with that campaign.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "coupon",
            "description": "Limit the transaction list to a specified campaign coupon - if specified, all Transactions associated with that campaign coupon.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "starts",
            "description": "Limit the transaction list to a specified campaign start datetime",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ends",
            "description": "Limit the transaction list to a specified campaign end datetime.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "source_payment_method",
            "description": "Limit the transaction list to a specified PaymentMethod type.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/transactionsList"
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error401"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/cancel_reasons": {
      "get": {
        "tags": [
          "cancel reasons",
          "marketplace"
        ],
        "summary": "Returns cancel reasons",
        "security": [],
        "operationId": "retrieveCancelReason",
        "description": "Retrieves list of cancel reasons.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cancelReasonList"
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/products": {
      "get": {
        "tags": [
          "products",
          "marketplace"
        ],
        "summary": "list Products",
        "operationId": "searchAllProducts",
        "security": [],
        "description": "Retrieves all Product objects.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/starting_after"
          },
          {
            "$ref": "#/components/parameters/ending_before"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "in": "query",
            "name": "account",
            "description": "Filters list of Products by Account id or vid that have Purchased that Product.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_children",
            "description": "If filtering by Account this also returns Children Accounts.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/products/{id}": {
      "get": {
        "tags": [
          "products",
          "marketplace"
        ],
        "summary": "fetch specific product",
        "operationId": "searchSpecificAProduct",
        "security": [],
        "description": "Retrieves a specific Product.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/X-B3-TraceId"
          },
          {
            "$ref": "#/components/parameters/X-B3-SpanId"
          },
          {
            "$ref": "#/components/parameters/X-B3-ParentSpanId"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/starting_after"
          },
          {
            "$ref": "#/components/parameters/ending_before"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id or the vid of the Product to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/slmgw/v1/campaigns": {
      "get": {
        "tags": [
          "campaigns",
          "marketplace"
        ],
        "summary": "list campaigns",
        "operationId": "searchAllCampaigns",
        "security": [],
        "description": "Retrieves list of campaigns.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/startingAfter"
          },
          {
            "$ref": "#/components/parameters/endingBefore"
          },
          {
            "in": "query",
            "name": "state",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Active",
                "Canceled",
                "Complete",
                "Inactive",
                "MatchAnyState",
                "Pending",
                "Undefined"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/campaignsList"
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/slmgw/v1/campaigns/{campaign}": {
      "get": {
        "tags": [
          "campaigns",
          "marketplace"
        ],
        "summary": "fetch specific campaigns",
        "operationId": "searchSpecificampaigns",
        "security": [],
        "description": "Retrieves a specific campaigns.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/campaign"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/campaigns"
          },
          "400": {
            "$ref": "#/components/responses/error"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/slmgw/v1/billing_plans": {
      "get": {
        "tags": [
          "billing plans",
          "marketplace"
        ],
        "summary": "Retrieves all Billing Plans.",
        "operationId": "searchAllBillingPlan",
        "security": [],
        "description": "Retrieves filtered list of recorded Billing Plan.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "$ref": "#/components/parameters/limitParam"
          },
          {
            "$ref": "#/components/parameters/startingAfter"
          },
          {
            "$ref": "#/components/parameters/endingBefore"
          },
          {
            "$ref": "#/components/parameters/filter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/billingPlanList"
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/billing_plans/{id}": {
      "get": {
        "tags": [
          "billing plans",
          "marketplace"
        ],
        "summary": "Retrieves a specific Billing Plan.",
        "operationId": "getBillingPlan",
        "security": [],
        "description": "Retrieves a specific product.",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
            "$ref": "#/components/parameters/organizationCode"
          },
          {
            "in": "path",
            "name": "id",
            "description": "The id or the vid of the Product to retrieve.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/billingPlan"
          },
          "400": {
            "$ref": "#/components/responses/error400"
          },
          "401": {
            "$ref": "#/components/responses/error"
          },
          "404": {
            "$ref": "#/components/responses/error404"
          },
          "500": {
            "$ref": "#/components/responses/error500"
          }
        }
      }
    },
    "/slmgw/v1/catalog": {
      "get": {
        "tags": [
          "catalog",
          "marketplace"
        ],
        "summary": "Available Product-Billing Option combinations",
        "security": [],
        "operationId": "getCatalog",
        "description": "Available Products with allowed billing options (billing plans, campaigns).",
        "parameters": [
          {
            "$ref": "#/components/parameters/M1-Organization-Code"
          },
          {
[...]
