openapi: 3.0.1
info:
  title: DocuSign REST API
  description: The DocuSign REST API provides you with a powerful, convenient, and
    simple Web services API for interacting with DocuSign.
  termsOfService: https://www.docusign.com/company/terms-and-conditions/web
  contact:
    name: DocuSign Developer Center
    url: https://developers.docusign.com/
    email: devcenter@docusign.com
  version: v2.1
externalDocs:
  description: See the DocuSign REST API Guide for more information.
  url: https://docs.docusign.com/esign
servers:
  - url: https://www.docusign.net/restapi
tags:
  - name: AccountBrands
    description: "The AcccountBrands resource provides methods that enable you to create\
    \ and manage brands for an account.\n\nBranding enables you to add the look and\
    \ feel of your organization's brand to the sending, signing, and email processes,\
    \ making it easier for recipients to identify envelopes coming from your organization.\n\
    \nThe DocuSign Account Custom Branding feature enables you to set the colors,\
    \ logo, and text that recipients see at the account level. The settings associated\
    \ with a brand are applied to all of the envelopes that use the brand. You can\
    \ create multiple brand profiles for different corporate brands or internal departments.\n\
    \n**Note**: To use this resource, branding for either signing or sending must\
    \ be enabled for the account (either `canSelfBrandSend`, `canSelfBrandSign`, or\
    \ both of these account settings must be set to **true**). "
  - name: AccountConsumerDisclosures
    description: "The `AccountConsumerDisclosures` resource provides methods that enable\
    \ you to enable, retrieve, and manage the Electronic Record and Signature Consent\
    \ Disclosure (ERSD) options for your account. This is the disclosure that displays\
    \ to each new recipient who is going to sign or add other information, or who\
    \ is required to view the documents you send to them. The recipient must read\
    \ and agree to the terms of the disclosure before they can access and take action\
    \ on the documents you send. The ERSD does not apply to copy-only recipients,\
    \ but does apply to recipients who must sign or view your documents.\n\nYou can\
    \ use either the default ERSD that DocuSign provides for U.S.-based transactions,\
    \ or a custom ERSD. \n\n## Languages\n\n**Important**: The system does not translate\
    \ the ERSD for you. The default ERSD is always in English. For a custom ERSD,\
    \ an account administrator must create a version of the disclosure for each language\
    \ that your signers use. When you create a version of your custom ERSD for a specific\
    \ signer language, you must:\n\n1. Specify the language code (`langCode`) for\
    \ the signer language.\n2. Provide the `esignAgreementText` and `esignText` in\
    \ the language associated with the `langCode`.\n\nFor more information, see [Legal\
    \ Disclosure](https://support.docusign.com/en/guides/ndse-admin-guide-legal-disclosure)."
  - name: AccountCustomFields
    description: "Custom fields enable you to record custom information about envelopes\
    \ that you can then use for sorting, organizing, searching, and other downstream\
    \ processes. \n\nFor example, you can use custom fields to copy envelopes or data\
    \ to multiple areas in Salesforce. eOriginal customers can eVault all of their\
    \ documents from the web app by setting an account custom field with a name like\
    \ `eVault with eOriginal` to **true**.\n\nYou can also use account custom fields\
    \ to set the following information:\n\n- Tracking ID\n- Department \n- Use case\n\
    - Other envelope metadata\n\n## Envelope Custom Field Visibility\n\nWhen you create\
    \ an envelope custom field for your account, you have the following options: \n\
    \n- Make it a required field for senders at the time of sending\n- Display it\
    \ as an optional field at the time of sending\n- Set a specific value for the\
    \ field behind the scenes (NOT SURE IF THIS IS RIGHT; MIGHT JUST BE AN UNUSED\
    \ DRAFT FIELD)\n\nEnvelope recipients do not see the envelope custom fields.\n\
    \n## Types of Envelope Custom Fields\n\nThere are two types of envelope custom\
    \ fields:\n\n- `text`: Enables the sender to enter the value for the field. \n\
    - `list`: Enables the sender to select the value of the field from a predetermined\
    \ list."
  - name: EnvelopeCustomFields
    description: "The EnvelopeCustomFields resource provides methods that allow you\
    \ manage custom fields in an envelope. \n\nCustom fields can be used in the envelopes\
    \ for your account to record information about the envelope, help search for envelopes\
    \ and track information. The envelope custom fields are shown in the Envelope\
    \ Settings section when a user is creating an envelope in the DocuSign member\
    \ console. The envelope custom fields are not seen by the envelope recipients.\n\
    \nThere are two types of envelope custom fields:\n\n- `text`: Enables the sender\
    \ to enter the value for the field. \n- `list`: Enables the sender to select the\
    \ value of the field from a predetermined list.\n\nYou may assign up to three\
    \ envelope custom fields to an envelope. This limit does not include account (document)\
    \ custom fields."
  - name: EnvelopeDocumentFields
    description: "The EnvelopeDocumentFields resource provides methods that allow you\
    \ to manage custom fields on a document.\n\nYou can create custom versions of\
    \ standard fields that combine of field properties, such as font type or size,\
    \ or a validation setting. \n\nNote: Some advanced features and options are supported\
    \ only in certain DocuSign plans. Your account plan might not support some options\
    \ discussed in this help topic. For more information about which options are available\
    \ for your account, check your account plan or contact your Account Manager."
  - name: EnvelopeLocks
    description: |-
      The EnvelopeLocks resource provides methods that allow you to
      manage locks on an envelope.

      To prevent users from changing an envelope while another user is
      modifying it, you can lock the envelope and set the time until
      the lock expires.

      For example, you would use the following flow:

      1. Lock the envelope.
      2. Make changes to envelope.
      3. Delete the envelope lock and save the changes. If the envelope is based on a template that has a password, you must supply the template password to save the changes.

      **Note**: To use envelope locks, the user must have envelope locking capability enabled.
  - name: EnvelopeRecipients
    description: "The EnvelopeRecipients resource enables you manage the recipients\
    \ of an envelope. All recipient types share a set of [core parameters](#core-recipient-parameters),\
    \ but some recipient types have additional parameters. You specify the recipient\
    \ type using the `recipientType` parameter. The recipient types are as follows:\n\
    \n<br>\n\n| Recipient type | Description |\n| :--- | :--- |\n| [Agent](#agent-recipient)\
    \ | Agent recipients can add name and email information for recipients that appear\
    \ after the agent in routing order. |\n| [Carbon Copy](#carbon-copy-recipient)\
    \ | Carbon copy recipients get a copy of the envelope but don't need to sign,\
    \ initial, date, or add information to any of the documents. This type of recipient\
    \ can be used in any routing order. Carbon copy recipients receive their copy\
    \ of the envelope when the envelope reaches the recipient's order in the process\
    \ flow and when the envelope is completed. |\n| [Certified Delivery](#certified-delivery-recipient)\
    \ | Certified delivery recipients must receive the completed documents for the\
    \ envelope to be completed. However, they don't need to sign, initial, date, or\
    \ add information to any of the documents. |\n| [Editor](#editor-recipient) |\
    \ Editors have the same management and access rights for the envelope as the sender.\
    \ They can make changes to the envelope as if they were using the Advanced Correct\
    \ feature. This recipient can add name and email information, add or change the\
    \ routing order, set authentication options, and can edit signature/initial tabs\
    \ and data fields for the remaining recipients. The recipient must have a DocuSign\
    \ account to be an editor. |\n| [In-Person Signer](#in-person-signer-recipient)\
    \ | In-person signer recipients are DocuSign users who act as signing hosts in\
    \ the same physical location as the signer. |\n| [Intermediary](#intermediary-recipient)\
    \ | Intermediaries are recipients who can, but are not required to, add name and\
    \ email information for recipients at the same or subsequent level in the routing\
    \ order, unless subsequent agents, editors, or intermediaries are added. |\n|\
    \ [Seal](#seal-recipient) | Electronic seal recipients represent legal entities\
    \ rather than individuals. Organizations and governments can use electronic seals\
    \ to show evidence of origin and integrity of documents. |\n| [Signer](#signer-recipient)\
    \ | Signers are recipients who must sign, initial, date, or add data to form fields\
    \ on the documents in the envelope. |\n| [Witness](#witness-recipient) | Witnesses\
    \ are recipients whose signatures affirm that the identified signers have signed\
    \ the documents in the envelope. |\n\n<br>\n\nNot all recipients are are available\
    \ to all account types. Review your account plan to determine which recipient\
    \ types are available to you. All recipient types are available in the Demo environment.\n\
    \n\n## Core Recipient Parameters\n\nAll recipients, regardless of type, have the\
    \ same common core parameters. The following table contains the descriptions for\
    \ the core properties for all recipient types:\n\n<br>\n\n| Name | Required |\
    \ Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| email | Yes |\
    \ Email | Email of the recipient. Notification will be sent to this email id.<br/>Maximum\
    \ Length: 100 characters. |\n| name | Yes | String | Full legal name of the recipient.<br/>Maximum\
    \ Length: 100 characters.<br/><br/>**Note:** If you are creating an envelope with\
    \ DocuSign EU advanced signature enabled, ensure that recipient names do not contain\
    \ any of the following characters: **^ : \\ @ , + <** |\n| accessCode | No | String\
    \ | This optional element specifies the access code a recipient has to enter to\
    \ validate the identity.<br/>Maximum Length: 50 characters. |\n| addAccessCodeToEmail\
    \ | No | Boolean | This optional attribute indicates that the access code is added\
    \ to the email sent to the recipient; this nullifies the Security measure of Access\
    \ Code on the recipient. |\n| agentCanEditEmail | No | Boolean | When set to **true**,\
    \ the agent recipient associated with this recipient can change the recipient's\
    \ pre-populated email address. This element is only active if enabled for the\
    \ account. |\n| agentCanEditName | No | Boolean | When set to **true**, the agent\
    \ recipient associated with this recipient can change the recipient's pre-populated\
    \ name (`UserName`). This element is only active if enabled for the account. |\n\
    | clientUserId | No | String | This specifies whether the recipient is embedded\
    \ or remote.<br/><br/>If the `clientUserId` property is not null then the recipient\
    \ is embedded. Note that if the `ClientUserId` property is set and either `SignerMustHaveAccount`\
    \ or `SignerMustLoginToSign` property of the account settings is set to  **true**,\
    \ an error is generated on sending. Maximum length: 100 characters. |\n| embeddedRecipientStartURL\
    \ | No | String | This is a sender provided valid URL string for redirecting an\
    \ embedded recipient. When using this option, the embedded recipient still receives\
    \ an email from DocuSign, just as a remote recipient would, but when the document\
    \ link in the email is clicked the recipient is redirected, through DocuSign,\
    \ to this URL to complete their actions. When routing to the URL, it is up to\
    \ the sender's system (the server responding to the URL) to then request a recipient\
    \ token to launch a signing session.<br/><br/>If the value `SIGN_AT_DOCUSIGN`\
    \ is used for this node, the recipient is directed to an embedded signing or viewing\
    \ process directly at DocuSign. The signing or viewing action is initiated by\
    \ the DocuSign system and the transaction activity and Certificate of Completion\
    \ records will reflect this. In all other ways the process is identical to an\
    \ embedded signing or viewing operation that would be launched by any partner.<br/><br/>It\
    \ is important to remember that in a typical embedded workflow the authentication\
    \ of an embedded recipient is the responsibility of the sending application and\
    \ DocuSign expects that senders will follow their own process for establishing\
    \ the recipient's identity. In this workflow the recipient goes through the sending\
    \ application before the embedded signing or viewing process in initiated. However,\
    \ when the sending application sets  the `EmbeddedRecipientStartURL` property\
    \ to `SIGN_AT_DOCUSIGN`, the recipient goes directly to the embedded signing or\
    \ viewing process bypassing the sending application and any authentication steps\
    \ the sending application would use. In this case, DocuSign recommends that one\
    \ of the normal DocuSign authentication features (Access Code, Phone Authentication,\
    \ SMS Authentication, etc.) be used to verify the identity of the recipient.<br/><br>If\
    \ the `clientUserId` property is NOT set and the `embeddedRecipientStartURL` property\
    \ is set, DocuSign ignores the redirect URL and launch the standard signing process\
    \ for the email recipient. Information can be appended to the `embeddedRecipientStartURL`\
    \ property using merge fields. The available merge fields items are: envelopeId,\
    \ recipientId, recipientName, recipientEmail, and customFields. The customFields\
    \ must be part of the recipient or envelope. The merge fields are enclosed in\
    \ double brackets.<br/><br/>_Example_:<br/>`http://senderHost/[[mergeField1]]/\
    \ beginSigningSession? [[mergeField2]]&[[mergeField3]]` |\n| customFields | No\
    \ | customField |An optional array of strings that allows the sender to provide\
    \ custom data about the recipient. This information is returned in the envelope\
    \ status but otherwise not used by DocuSign. String `customField` properties have\
    \ a maximum length of 100 characters. |\n| emailNotification | No | emailNotification\
    \ | An optional complex type that has information for setting the language for\
    \ the recipient's email information. It is composed of three elements:<br/><br/>*emailBody*:\
    \ a string with the email message sent to the recipient.<br/>Maximum Length: 10000\
    \ characters.<br/><br/>*emailSubject*: a string with the subject of the email\
    \ sent to the recipient.<br/>Maximum Length: 100 characters.<br/><br/>*supportedLanguage*:\
    \ The simple type enumeration (two-letter code) for the language to use for the\
    \ standard email format and the signing view for the recipient. To retrieve the\
    \ possible values, use the [Accounts::listSupportedLanguages method][ListLang].<br/><br/>**Note**:\
    \ You can set the `emailNotification` property separately for each recipient.\
    \ If you set the value only for certain recipients, the other recipients will\
    \ inherit the this value from the top-level `emailSubject` and `emailBlurb`. \
    \ |\n| excludedDocuments | No | Array of Strings | Specifies the documents that\
    \ are not visible to this recipient. Document Visibility must be enabled for the\
    \ account and the enforceSignerVisibility property must be set to true for the\
    \ envelope to use this.<br/><br/>When the enforceSignerVisibility property is\
    \ set to **true**, documents with tabs can only be viewed by signers that have\
    \ a tab on that document. Recipients that have an administrative role (Agent,\
    \ Editor, or Intermediaries) or informational role (Certified Deliveries or Carbon\
    \ Copies) can always see all the documents in an envelope, unless they are specifically\
    \ excluded using this setting when an envelope is sent. Documents that do not\
    \ have tabs are always visible to all recipients, unless they are specifically\
    \ excluded using this setting when an envelope is sent. |\n| idCheckConfigurationName\
    \ | No | String |Specifies authentication check by name. The names used here must\
    \ be the same as the authentication type names used by the account (these name\
    \ can also be found in the web console sending interface in the Identify list\
    \ for a recipient). This overrides any default authentication setting.<br/><br/>_Example_:<br/>\
    \ Your account has ID Check and SMS Authentication available and in the web console\
    \ Identify list these appear as 'ID Check $' and 'SMS Auth $'. To use ID check\
    \ in an envelope, the `idCheckConfigurationName` property must be  set to `ID\
    \ Check $`. To use SMS, it must be set to `SMS Auth $` and you must add phone\
    \ number information to the `smsAuthentication` node.|\n| iDCheckInformationInput\
    \ | No | IdCheckInformationInput | This complex element contains input information\
    \ related to a recipient ID check. It can include the following information.<br/><br/>*addressInformationInput*:\
    \ Used to set recipient address information and consists of:<br/><br/>*addressInformation*:\
    \ consists of six elements, with street2 and zipPlus4 being optional. The elements\
    \ are: street1, street2, city, state, zip, zipPlus4\\. The maximum number of characters\
    \ in each element are: street1/street2 = 150 characters, city = 50 characters,\
    \ state = 2 characters, and zip/zipPlus4 = 20 characters.<br/><br/>displayLevelCode:\
    \ Specifies the display level for the recipient. Values are: ReadOnly, Editable,\
    \ or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies\
    \ if the information needs to be returned in the response.<br/><br/>*dobInformationInput*:\
    \ Used to set recipient date of birth information and consists of:<br/><br/>*dateOfBirth*:\
    \ Specifies the recipient's date, month and year of birth.<br/><br/>*displayLevelCode*:\
    \ Specifies the display level for the recipient. Values are: ReadOnly, Editable,\
    \ or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies\
    \ if the information needs to be returned in the response.<br/><br/>*ssn4InformationInput*:\
    \ Used to set the last four digits of the recipient's SSN information and consists\
    \ of:<br/><br/>*ssn4*: Specifies the last four digits of the recipient's SSN.<br/><br/>*displayLevelCode*:\
    \ Specifies the display level for the recipient. Values are: ReadOnly, Editable,\
    \ or DoNotDisplay.<br/><br/>*receiveInResponse*: A Boolean element that specifies\
    \ if the information needs to be returned in the response.<br/><br/>*ssn9InformationInput*:\
    \ Used to set the recipient's SSN information. Note that the ssn9 information\
    \ can never be returned in the response. The ssn9 input consists of:<br/><br/><br/><br/>*ssn9*:\
    \ Specifies the recipient's SSN.<br/><br/>*displayLevelCode*: Specifies the display\
    \ level for the recipient. Values are: ReadOnly, Editable, or DoNotDisplay. |\n\
    | inheritEmailNotificationConfiguration | No | Boolean | Optional element. If\
    \ true and the envelope recipient creates a DocuSign account after signing, the\
    \ Manage Account Email Notification settings are used as the default settings\
    \ for the recipient's account. |\n| note | No | String | A note that is unique\
    \ to this recipient. This note is sent to the recipient via the signing email.\
    \ The note displays in the signing UI near the upper left corner of the document\
    \ on the signing screen.<br/>Maximum Length: 1000 characters. |\n| phoneAuthentication\
    \ | No | RecipientPhoneAuthentication | Optional element. Contains the elements:\
    \ <br/><br/> *recipMayProvideNumber*:Boolean. When set to **true** thenrecipient\
    \ can use whatever phone number they choose to.<br/><br/> *senderProvidedNumbers*:\
    \ ArrayOfString. A list of phone numbers the recipient can use. <br/>\n| recipientId\
    \ | No | String | Unique for the recipient. It is used by the tab element to indicate\
    \ which recipient is to sign the Document. |\n| requireIdLookup | No | Boolean\
    \ | When set to **true**, the recipient is required to use the specified ID check\
    \ method (including Phone and SMS authentication) to validate their identity.\
    \ |\n| roleName | No* | String | Optional element. Specifies the role name associated\
    \ with the recipient.<br/><br/>This is required when working with template recipients.\
    \ |\n| routingOrder | Yes | String | This element specifies the routing order\
    \ of the recipient in the envelope. |\n| smsAuthentication | No | senderProvidedNumbers\
    \ | Optional element. Contains the element:<br/><br/>*senderProvidedNumbers*:\
    \ Array that contains a list of phone numbers the recipient can use for SMS text\
    \ authentication. |\n| templateAccessCodeRequired | No | Boolean | Optional element.\
    \ Used only when working with template recipients. When set to **true** and the\
    \ `TemplateLocked` parameter is set to **true**, the sender must enter an access\
    \ code. |\n| templateLocked | No | Boolean | Optional element. Used only when\
    \ working with template recipients. When set to **true**, the sender cannot change\
    \ any attributes of the recipient. |\n| templateRequired | No | Boolean | Optional\
    \ element. Used only when working with template recipients. When set to **true**,\
    \  the sender may not remove the recipient. |\n| identityVerification <a name=\"\
    toto\"></a> | No | identityVerification | Optional element. Specifies ID Verification\
    \ applied on an envelope by workflow ID. <br/>See the [list](https://developers.docusign.com/docs/esign-rest-api/reference/accounts/identityverifications/list/)\
    \ method in the [IdentityVerifications](https://developers.docusign.com/docs/esign-rest-api/reference/accounts/identityverifications/)\
    \ resource for more information on how to retrieve workflow IDs available for\
    \ an account. <br/>This can be used in addition to other [recipient authentication](https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/recipients/auth/)\
    \ methods. <br/>Note that ID Verification and ID Check are two distinct methods.\
    \ ID Verification checks recipients' identity by verifying their ID while ID Check\
    \ relies on data available on public records (such as current and former address).\
    \ |\n\n<br>\n\n\n\n## Agent Recipient\n\nAn agent recipient can add name and email\
    \ information for recipients that appear after the agent in routing order.\n\n\
    In addition to the [core parameters](#core-recipient-parameters), this recipient\
    \ type has the following parameters:\n\n<br>\n\n| Name | Required | Schema Type\
    \ | Description |\n| :--- | :--- | :--- | :--- |\n| documentVisibility | No |\
    \ documentVisibility | A complex type that specifies which documents are visible\
    \ to this recipient. |\n\n<br>\n\n\n\n## Carbon Copy Recipient\n\nCarbon copy\
    \ recipients receive a copy of the envelope but don't need to sign, initial, date\
    \ or add information to any of the documents. You can place this type of recipient\
    \ in any routing order. Carbon copy recipients receive their copy of the envelope\
    \ when the envelope reaches the recipient's order in the process flow and when\
    \ the envelope is completed.\n\nIn addition to the [core parameters](#core-recipient-parameters),\
    \ this recipient type has the following parameters:\n\n<br>\n\n| Name | Required\
    \ | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| documentVisibility\
    \ | No | documentVisibility | A complex type that specifies which documents are\
    \ visible to this recipient. |\n\n<br>\n\n\n\n## Certified Delivery Recipient\n\
    \nCertified delivery recipients must receive the completed documents for the envelope\
    \ to be completed. However, they don't need to sign, initial, date or add information\
    \ to any of the documents.\n\nIn addition to the [core parameters](#core-recipient-parameters),\
    \ this recipient type has the following parameters:\n\n<br>\n\n| Name | Required\
    \ | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| documentVisibility\
    \ | No | documentVisibility | A complex type that specifies which documents are\
    \ visible to this recipient. |\n\n<br>\n\n\n\n## Editor Recipient\n\nEditors have\
    \ the same management and access rights for the envelope as the sender. They can\
    \ make changes to the envelope as if they were using the Advanced Correct feature.\
    \ This recipient can add name and email information, add or change the routing\
    \ order and set authentication options for the remaining recipients. Additionally,\
    \ this recipient can edit signature/initial tabs and data fields for the remaining\
    \ recipients. The recipient must have a DocuSign account to be an editor.\n\n\
    In addition to the [core parameters](#core-recipient-parameters), this recipient\
    \ type has the following parameters:\n\n<br>\n\n\n| Name | Required | Schema Type\
    \ | Description |\n| :--- | :--- | :--- | :--- |\n| documentVisibility | No |\
    \ documentVisibility | A complex type that specifies which documents are visible\
    \ to this recipient. |\n\n\n<br>\n\n\n## In-Person Signer Recipient\n\nAn in-person\
    \ recipient is a DocuSign user, acting as a Signing Host, who is in the same physical\
    \ location as the signer.\n\nThe following restrictions apply to using electronic\
    \ notary when sending documents:\n\n* Authentication methods are allowed for the\
    \ signer but not the notary.\n* The Sign On Paper, Document Markup, Field Markup\
    \ and Change Signer options cannot be used for the documents.\n* Tabs may be assigned\
    \ to the signer, but cannot be assigned to the notary.\n\nSee [eNotary Resources][enotary-resources]\
    \ in the DocuSign Support Center for more information about how the eNotary feature\
    \ works.\n\nIn addition to the [core parameters](#core-recipient-parameters),\
    \ this type adds the following parameters:\n\n<br>\n\n\n| Name \t| Required \t\
    | Schema Type \t| Description \t|\n|-----------------------\t|-----------------------------------------------------\t\
    |-------------\t|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\t\
    |\n| inPersonSigningType \t| No \t| String \t| Specifies whether the envelope\
    \ uses the eNotary feature. The accepted values are:<ul markdown=1><li>`inPersonSigner`\
    \ The envelope uses the normal in-person signing flow.</li><li>`notary`: The envelope\
    \ uses the eNotary signing flow.</li></ul> \t|\n| notaryHost \t| Yes, when `inPersonSigningType`\
    \ is `notary` \t| NotaryHost \t| Sets the information for the notary host for\
    \ the notary in person signing flow. The following information is required: <ul\
    \ markdown=1> <li>`recipientId`: A unique ID number for the notary signing host.\
    \ </li> <li>`name`: Specifies the notary's full legal name.</li> <li>`email`:\
    \ Specifies the notary's email address. </li> </ul> \t|\n| autoNavigation \t|\
    \ No \t| Boolean \t| Specifies whether auto navigation is set for the recipient.\
    \ \t|\n| defaultRecipient \t| No \t| Boolean \t| When set to **true**, this is\
    \ the default recipient for the envelope. This option is used when creating an\
    \ envelope from a template. \t|\n| documentVisibility | No | documentVisibility\
    \ | A complex type that specifies which documents are visible to this recipient.\
    \ |\n| hostName \t| Yes, when `inPersonSigningType` is `inPersonSigner` \t| String\
    \ \t| The name of the signing host. This is the DocuSign user that is hosting\
    \ the in-person signing session. \t|\n| hostEmail \t| Yes, when `inPersonSigningType`\
    \ is `inPersonSigner` \t| String \t| The email address of the signing host. This\
    \ is the DocuSign user that is hosting the in-person signing session. \t|\n| signerName\
    \ \t| Yes, when `inPersonSigningType` is `inPersonSigner` \t| String \t| The in-person\
    \ signer's full legal name. \t|\n| Name \t| Yes, when `inPersonSigningType` is\
    \ `notary` \t| String \t| The full legal name of the signer in an eNotary flow.\
    \ \t|\n| email \t| Yes, when `inPersonSigningType` is `notary` \t| String \t|\
    \ The signer's email address in an eNotary flow. \t|\n| recipientSuppliesTabs\
    \ \t| No \t| Boolean \t| Indicates whether the recipient supplies tabs in the\
    \ document. \t|\n| signatureInfo \t| No \t| String \t| Optional element only used\
    \ with the recipient types In Person Signers, Signers, and Witnesses.<br/><br/>Allows\
    \ the sender to pre-specify the signature name, signature initials, and signature\
    \ font used in the signature stamp for the recipient. \t|\n| signInEachLocation\
    \ \t| No \t| Boolean \t| When set to **true** and the feature is enabled in the\
    \ sender's account, the signing recipient is required to draw signatures and initials\
    \ at each signature/initial tab (instead of adopting a signature/initial style\
    \ or only drawing a signature/initial once). \t|\n| tabs \t| No \t| Tab \t| Optional\
    \ element only used with recipient types In Person Signers and Signers.<br/><br/>Specifies\
    \ the Tabs associated with the recipient. See the [EnvelopeRecipientTabs resource](https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/)\
    \ for more information about tabs. \t|\n|  \t|  \t|  \t|  \t|\n\n\n<br>\n\n\n\n\
    ## Intermediary Recipient\n\nAn intermediary is a recipient who can, but is not\
    \ required to, add name and email information for recipients at the same or subsequent\
    \ level in the routing order, unless subsequent agents, editors or intermediaries\
    \ are added.\n\nIn addition to the [core parameters](#core-recipient-parameters),\
    \ this recipient type has the following parameters:\n\n<br>\n\n\n| Name | Required\
    \ | Schema Type | Description |\n| :--- | :--- | :--- | :--- |\n| documentVisibility\
    \ | No | documentVisibility | A complex type that specifies which documents are\
    \ visible to this recipient. |\n\n<br>\n\n\n\n## Seal Recipient\n\nAn electronic\
    \ seal recipient is a legal entity rather than an actual person. Electronic Seals\
    \ can be used by organizations and governments to show evidence of origin and\
    \ integrity of documents. Even though electronic seals can be represented by a\
    \ tab in a document, they do not require user interaction and apply automatically\
    \ in the order specified by the sender. The sender is therefore the person authorizing\
    \ usage of the electronic seal in the flow.\n\nElectronic seal recipients rely\
    \ on a subset of core properties, described as follows, plus the `recipientSignatureProviders`\
    \ parameter:\n\n\n<br>\n\n\n| Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\
    \ | Required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\
    \ | Schema Type&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; | Description&nbsp;&nbsp;&nbsp;&nbsp;\
    \ |\n| :--- | :--- | :--- | :--- |\n| recipientId| Yes | String | Indicates the\
    \ unique ID of the applied electronic seal.<br/>|\n| routingOrder| No (default:\
    \ 1) | String | Specifies the routing order of the electronic seal in the envelope.\
    \ <br />The routing order assigned to your electronic seal cannot be shared with\
    \ another recipient. It is recommended that you set a routing order for your electronic\
    \ seals.. |\n| recipientSignatureProviders| Yes | String | Indicates which electronic\
    \ seal to apply on documents when creating an envelope. |\n\n\n<br>\n\n\n\nBy\
    \ default, Electronic Seals apply on all documents in an envelope. However, the\
    \ sealDocumentsWithTabsOnly property (see recipientSignatureProvider) allows you\
    \ to seal only documents that have signHere tabs set for the Electronic Seal recipients.\n\
    \n<br>\n\n\n\n## Signer Recipient\n\nA signer is a recipient who must sign, initial,\
    \ date, or add data to form fields on the documents in the envelope.\n\nIn addition\
    \ to the [core parameters](#core-recipient-parameters), this recipient type adds\
    \ the following parameters:\n\n<br>\n\n\n| Name | Required | Schema Type | Description\
    \ |\n| :--- | :--- | :--- | :--- |\n| autoNavigation | No | Boolean | Specifies\
    \ whether auto navigation is set for the recipient.|\n| defaultRecipient | No\
    \ | Boolean | When set to **true**, this is the default recipient for the envelope.\
    \ This option is used with the CreateEnvelopeFromTemplatesAndForms method. |\n\
    | documentVisibility | No | documentVisibility | A complex type that specifies\
    \ which documents are visible to this recipient. |\n| isBulkRecipient | No | Boolean\
    \ | Indicates whether the recipient is a bulk send recipient or not. |\n| recipientSuppliesTabs\
    \ | No | Boolean | Indicates whether the recipient supplies tabs in the document.\
    \ |\n| signInEachLocation | No | Boolean | When set to **true** and the feature\
    \ is enabled in the sender's account, the signing recipient is required to draw\
    \ signatures and initials at each signature/initial tab (instead of adopting a\
    \ signature/initial style or only drawing a signature/initial once). |\n| signatureInfo\
    \ | No | String | Optional element only used with recipient types In Person Signers,\
    \ Signers, and Witnesses.<br/><br/>Allows the sender to pre-specify the signature\
    \ name, signature initials, and signature font used in the signature stamp for\
    \ the recipient. |\n| signerEmail | No | String | Optional element. The email\
    \ address for an In-Person Signer recipient Type.<br/>Maximum Length: 100 characters.\
    \ |\n| signerName | Yes | String | Required element with recipient type In Person\
    \ Signers.<br/>Maximum Length: 100 characters.<br/><br/>The full legal name of\
    \ a signer for the envelope. |\n| tabs | No | Tab | Optional element only used\
    \ with recipient types In Person Signers and Signers.<br/><br/>Specifies the Tabs\
    \ associated with the recipient. See the the [EnvelopeRecipientTabs resource](https://developers.docusign.com/docs/esign-rest-api/reference/envelopes/enveloperecipienttabs/)\
    \  for more information about tabs. |\n\n<br>\n\n[enotary-resources]: https://support.docusign.com/en/guides/ndse-user-guide-enotary-resources\n\
    \n\n## Witness Recipient\n\nA witness is a recipient whose signature affirms that\
    \ the identified signers have signed the documents in the envelope.\n\nIn addition\
    \ to the [core parameters](#core-recipient-parameters), this recipient type adds\
    \ the following parameters:\n\n<br>\n\n\n| Name | Required | Schema Type | Description\
    \ |\n| :--- | :--- | :--- | :--- |\n| autoNavigation | No | Boolean |\tSpecifies\
    \ whether auto navigation is set for the recipient. |\n| defaultRecipient | No\
    \ | Boolean | When set to **true**, this is the default recipient for the envelope.\
    \ This option is used when creating an envelope from a template. |\n| documentVisibility\
    \ | No | documentVisibility | A complex type that specifies which documents are\
    \ visible to this recipient. |\n| isBulkRecipient | No | Boolean | Indicates whether\
    \ the recipient is a bulk send recipient or not. |\n| recipientSignatureProviders\
    \ | Yes | String | Indicates which electronic seal to apply on documents when\
    \ creating an envelope. |\n| recipientSuppliesTabs | No | Boolean | Indicates\
    \ whether the recipient supplies tabs in the document. |\n| recipientType | Yes\
    \ | String | Indicates the recipient type. |\n|requireSignerCertificate | No |\
    \ Boolean | Indicates whether the envelope requires a signer certificate for this\
    \ recipient. |\n| requireSignOnPaper | No | Boolean | Specifies whether the signer\
    \ must print, sign, and upload or fax the signed documents to DocuSign. |\n| signatureInfo\
    \ | No | Boolean | Optional element only used with recipient types In Person Signers,\
    \ Signers, and Witnesses. Enables the sender to pre-specify the signature name,\
    \ signature initials, and signature font used in the signature stamp for the recipient.\
    \ |\n| signInEachLocation | No | Boolean | When set to **true** and the feature\
    \ is enabled in the sender's account, specifies that the signing recipient is\
    \ required to sign and initial at each signature/initial tab (instead of once).\
    \ |\n| signingGroupId | No | String | The id of the [signing group](https://support.docusign.com/en/guides/ndse-user-guide-signing-groups).\
    \ |\n| signingGroupName | No | String | The display name for the signing group.\
    \ Maximum Length: 100 characters. |\n| signingGroupUsers | No | userInfo | A complex\
    \ type that contains information about the users in the signing group. |\n| witnessFor\
    \ | Yes | String | Indicates the person or party for whom the recipient is a witness.\
    \ |\n| witnessForGuid | Yes | String | GUID identifying the person or party for\
    \ whom the recipient is a witness. |\n\n\n[ListLang]: https://developers.docusign.com/docs/esign-rest-api/reference/Accounts/Accounts/listSupportedLanguages/\n"
  - name: EnvelopeRecipientTabs
    description: "The EnvelopeRecipientTabs resource provides methods that enable you\n\
    to add,\nupdate,\nand delete tabs\nfrom an envelope.\nTabs are associated with\
    \ a specific recipient\nin an envelope\nand are only used by the recipient types\n\
    In Person Signers and Signers.\n\n<!-- START doctoc generated TOC please keep\
    \ comment here to allow auto update -->\n<!-- DON'T EDIT THIS SECTION, INSTEAD\
    \ RE-RUN doctoc TO UPDATE -->\n**On this page**\n\n- [Tab Types](#tab-types)\n\
    - [View Tab](#view-tab)\n- [Requesting Payments](#requesting-payments)\n- [Using\
    \ Custom Tabs in Envelopes and Templates](#using-custom-tabs-in-envelopes-and-templates)\n\
    - [Anchoring Tabs](#anchoring-tabs)\n- [Automatically Populating Tabs](#automatically-populating-tabs)\n\
    \n<!-- END doctoc generated TOC please keep comment here to allow auto update\
    \ -->\n\n\n## Tab Types\n\nSome tabs enable values to be entered by the signer.\n\
    Those tabs' values can be preset either through the web browser\nor via the API.\
    \ Other tab types use information that is already\nrecognized by the DocuSign\
    \ platform.\nThese tabs cannot have their value updated on a per-tab basis\nby\
    \ the API or via the browser. In some cases, the info might be\nsettable using\
    \ a different technique.\nFor example, the Full name tab uses the signer's name,\n\
    which is set elsewhere in the request.\n\nHere is the list of tabs and whether\
    \ you can or cannot set their values in the tab definition:\n\n<br>\n\n| Tab Type\
    \                               | Description                                \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                       |\n| :------------------------------------- | :--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------\
    \ |\n| Approve (`approve`)                    | Allows the recipient to approve\
    \ documents without placing a signature or initials on the document. If the recipient\
    \ clicks the tab during the signing process, the recipient is considered to have\
    \ signed the document. No information is shown on the document of the approval,\
    \ but it is recorded as a signature in the envelope history. This value **can't**\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                  |\n| Checkbox (`checkbox`)                  | Allows the recipient\
    \ to select a yes/no (on/off) option. This value can be set.                 \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                              |\n| Company (`company`)      \
    \              | Displays the recipient's company name. This value **can't** be\
    \ set.                                                                       \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \    |\n| Date Signed (`dateSigned`)             | Displays the date that the\
    \ recipient signed the document. This value **can't** be set.                \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                        |\n| Date (`date`)                  \
    \        | Allows the recipient to enter a date. Date tabs are one-line fields\
    \ that allow date information to be entered in any format. The tooltip for this\
    \ tab recommends entering the date as MM/DD/YYYY, but this is not enforced. The\
    \ format entered by the signer is retained. If you need a particular date format\
    \ enforced, DocuSign recommends using a Text tab with a validation pattern and\
    \ a validation message to enforce the format. This value can be set.         \
    \                                                                            \
    \                                                                   |\n| Decline\
    \ (`decline`)                    | Allows the recipient the option of declining\
    \ an envelope. If the recipient clicks the tab during the signing process, the\
    \ envelope is voided. This value **can't** be set.                           \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                     |\n| Email Address (`emailAddress`)         | Displays the\
    \ recipient's email as entered in the recipient information. This value **can't**\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                  |\n| Email (`email`)      \
    \                  | Allows the recipient to enter an email address. This is a\
    \ one-line field that checks that a valid email address is entered. It uses the\
    \ same parameters as a Text tab, with the validation message and pattern set for\
    \ email information.<br><br>When getting information that includes this tab type,\
    \ the original value of the tab when the associated envelope was sent is included\
    \ in the response. This value can be set.                                    \
    \                                                                            \
    \                                                                        |\n|\
    \ Envelope ID (`envelopeId`)             | Displays the envelope ID. Recipients\
    \ cannot enter or change the information in this tab.  This value **can't** be\
    \ set.                                                                       \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                             |\n| First Name (`firstName`)               | Displays\
    \ the recipient's first name. This tab takes the recipient's name as entered in\
    \ the recipient information, splits it into sections based on spaces and uses\
    \ the first section as the first name. This value **can't** be set.          \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                        |\n| Formula Tab (`formulaTab`)\
    \             | The value of a formula tab is calculated from the values of other\
    \ number or date tabs in the document. When the recipient completes the underlying\
    \ fields, the formula tab calculates and displays the result. This value can be\
    \ set.The `formula` property of the tab contains the references to the underlying\
    \ tabs. See [Calculated Fields] in the DocuSign Support Center to learn more about\
    \ formulas. If a formula tab contains a `paymentDetails` property, the tab is\
    \ considered a payment item. See [Requesting Payments Along with Signatures] in\
    \ the DocuSign Support Center to learn more about payments. |\n| Full Name (`fullName`)\
    \                 | Displays the recipient's full name. This value **can't** be\
    \ set.                                                                       \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \       |\n| Initial Here (`initialHere`)           | Allows the recipient to\
    \ initial the document. May be optional. This value **can't** be set.        \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                           |\n| Last Name (`lastName`)      \
    \           | Displays the recipient's last name. This tab takes the recipient's\
    \ name as entered in the recipient information, splits it into sections based\
    \ on spaces and uses the last section as the last name. This value **can't** be\
    \ set.                                                                       \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                          |\n\
    | List (`list`)                          | This tab offers a list of options to\
    \ choose from. The `listItems` property is used to specify the selectable options.\
    \ This value can be set,                                                     \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                         |\n| Notarize (`notarize`)                  | Place\
    \ this tab on a page to alert Notary recipients that they must take action. Only\
    \ one notarize tab can appear on a page. This value can be set.              \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                          |\n| Note (`note`)\
    \                          | Displays additional information, in the form of a\
    \ note, for the recipient. This value can be set.                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                 |\n| Number (`number`)                      | Allows the recipient\
    \ to enter numbers and decimal (.) points. This value can be set.            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                              |\n| Radio Group (`radioGroup`)\
    \             | This group tab is used to place radio buttons on a document. The\
    \ `radios` property is used to add and place the radio buttons associated with\
    \ the group. Only one radio button can be selected in a group. This value can\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \ |\n| Sign Here (`signHere`)                 | Allows the recipient to sign a\
    \ document. May be optional. This value **can't** be set. <br/>**Note**: `signHere`\
    \ tabs can also be used to add a visual representation for  an electronic seal\
    \ in a document.                                                             \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                             |\n| Signer Attachment (`signerAttachment`) | Allows\
    \ the recipient to attach supporting documents to an envelope. This value **can't**\
    \ be set.                                                                    \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                      |\n| SSN (`ssn`)      \
    \                      | A one-line field that allows the recipient to enter a\
    \ Social Security Number. The SSN can be typed with or without dashes. It uses\
    \ the same parameters as a Text tab, with the validation message and pattern set\
    \ for SSN information.  This value can be set.                               \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \         |\n| Text (`text`)                          | Allows the recipient to\
    \ enter any type of text. This value can be set.                             \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                           |\n| Title (`title`)             \
    \           | Displays the recipient's title. This value **can't** be set.   \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \   |\n| View (`view`)                          | The View tab is used with the\
    \ Approve tab to handle supplemental documents. This value can be set.       \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                     |\n| Zip (`zip`)                       \
    \     | Allows the recipient to enter a ZIP code. The ZIP code can be five digits\
    \ or nine digits in the ZIP+4 format. The zip code can be typed with or without\
    \ dashes. It uses the same parameters as a Text tab, with the validation message\
    \ and pattern set for ZIP code information. This value can be set.           \
    \                                                                            \
    \                                                                            \
    \                                                                            \
    \                                                                |\n\n\n[approve]:\t\
    \t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [checkbox]:\t\t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [company]:\t\t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [dateSigned]:\t\t    https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [date]:\t\t          https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [decline]:\t\t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [emailAddress]:     https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [email]:\t\t        https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [envelopeId]:\t    \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [firstName]:\t    \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [formulaTab]:\t    \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [fullName]:\t\t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [initialHere]:\t  \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [lastName]:\t\t      https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [list]:\t           \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [notarize]:         https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [note]:\t\t          https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [number]:\t\t        https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [radioGroup]:\t\t    https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [signerAttachment]: https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [signHere]:\t      \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [ssn]:\t          \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [text]:\t          \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [title]:\t        \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [view]:\t\t          https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    [zip]:\t          \thttps://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/#tab-types\n\
    \n[calculatedfields]: https://support.docusign.com/en/guides/ndse-user-guide-calculated-fields\n\
    [paymentguide]:     https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n\
    \n\n\n\n\n\n## View Tab\n\nThe View tab is used on supplemental documents.\nTo\
    \ learn more about using the View tab with\nsupplemental documents, see\n[Using\
    \ Supplemental Documents][usingsupdocs]\nin the [Sending Documents][sendenvelopes]\
    \ section of\nthe [Envelope: create][envelopecreate] method.\n\n[sendenvelopes]:\
    \  https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/Envelopes/create/\n\
    [usingsupdocs]:   https://developers.docusign.com/docs/esign-rest-api/esign101/concepts/documents/supplemental/\n\
    [envelopecreate]: https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/Envelopes/create/\n\
    \n<br>\n\n| Name              | Required  | Type    | Description |\n| :---- \
    \            | :----     | :----   | :----       |\n| documentId        | Yes\
    \       | String  | The document ID number that the tab is placed on. This must\
    \ refer to an existing Document's ID attribute. |\n| pageNumber        | Yes \
    \      | String  | Must be set to 1. |\n| recipientId       | Yes       | String\
    \  | The recipient associated with the tab. Must refer to an existing recipient's\
    \ ID attribute. |\n| required          | No        | Boolean | If **true**, the\
    \ recipient is required to select the supplemental document View button during\
    \ signing. |\n| tabLabel          | No        | String  | The label used for the\
    \ tab.  If an empty string is provided for this, an empty sting is used. If no\
    \ value is provided, the tab type is used as the value. Maximum of 500 characters.\
    \ |\n| templateLocked    | No        | Boolean | Optional. Used only when working\
    \ with template tabs. If **true**, the attributes of the tab cannot be changed\
    \ by the sender. |\n| templateRequired  | No        | Boolean | Optional. Used\
    \ only when working with template tabs. If **true**, the tab cannot be removed\
    \ by the sender. |\n| xPosition         | Yes       | String  | Required, but\
    \ can be 0.  |\n| yPosition         | Yes       | String  | Required, but can\
    \ be 0. |\n\n\n## Requesting Payments\n\nThe Payments feature of the DocuSign\
    \ eSignature REST API\nlets you collect payments\nalong with signatures and other\
    \ information.\n\nTo send a request for payment\nand collect payments,\nyou need\
    \ a payment gateway account,\nwhich is the destination for the payments.\nCreate\
    \ a payment account\nwith a supported payment gateway,\nand then connect the payment\
    \ gateway account\nto your DocuSign account.\nTo learn how to connect a payment\
    \ gateway account\nto your DocuSign account\nsee [Managing Payment Gateways][paymentgateways]\n\
    in the DocuSign Support Center.\nYou must connect and manage payment gateway accounts\
    \ manually\nthrough the DocuSign Admin console\nand through your chosen payment\
    \ gateway.\nThere is no public API\nfor connecting payment gateway accounts\n\
    to DocuSign accounts\nor for managing payment gateway accounts.\n\nCurrently\n\
    [Stripe][stripe],\n[Braintree](https://www.braintreepayments.com/), and\n[Authorize.net](https://www.authorize.net/)\n\
    are the supported payment gateways.\n\n### How Payments Work\n\nTo make a request\
    \ for payment,\nuse a [`formulaTab`][formulatab]\nthat has a\n[`paymentDetails`][paymentdetails]\
    \ object.\nThis object includes\na list of [`paymentLineItem`][paymentlineitem]\
    \ objects.\nEach line item refers to a [`number`][numbertab] tab\nthat contains\
    \ the value of the each item.\nThe purpose of the line items\nis to transmit them\
    \ to the payment gateway\nas metadata, so that you can use the information\nin\
    \ the payment processor.\n\n**Note**: If the fileExtension parameter is not added\
    \ in an API call, only base64 converted pdf files will be accepted.\nAny attempt\
    \ to send a non pdf file without using fileExtension results in an error.\n\n\
    This is an example request for two books.\nEach book is specified in the `number`\
    \ tabs\nlabeled \"Hamlet\" and \"Tempest\".\nThe books are referenced as line\
    \ items\nby their tab labels\nwithin the `paymentDetails` object\nof a `formula`\
    \ tab.\nThe formula of the `formula` tab\nadd the values of the same two `number`\
    \ tabs.\n\n```json\n{\n  \"documents\": [\n    {\n      \"documentBase64\": \"\
    <base64-encoded PDF document>\",\n      \"documentId\": \"1\",\n      \"fileExtension\"\
    : \"pdf\",\n      \"name\": \"payment.pdf\"\n    }\n  ],\n  \"emailSubject\":\
    \ \"Order Some Books\",\n  \"recipients\": {\n    \"signers\": [\n      {\n  \
    \      \"email\": \"vreader@example.com\",\n        \"name\": \"Voracious Reader\"\
    ,\n        \"recipientId\": \"1\",\n        \"routingOrder\": \"1\",\n       \
    \ \"tabs\": {\n          . . .\n          \"numberTabs\": [\n            {\n \
    \             \"value\": \"10.00\",\n              \"width\": 78,\n          \
    \    \"required\": \"true\",\n              \"locked\": \"true\",\n          \
    \    \"tabLabel\": \"Hamlet\",\n              \"documentId\": \"1\",\n       \
    \       \"pageNumber\": \"1\",\n              \"xPosition\": \"323\",\n      \
    \        \"yPosition\": \"134\"\n            },\n            {\n             \
    \ \"value\": \"10.00\",\n              \"width\": 78,\n              \"required\"\
    : \"true\",\n              \"locked\": \"true\",\n              \"tabLabel\":\
    \ \"Tempest\",\n              \"documentId\": \"1\",\n              \"pageNumber\"\
    : \"1\",\n              \"xPosition\": \"323\",\n              \"yPosition\":\
    \ \"154\"\n            }\n          ],\n          \"formulaTabs\": [\n       \
    \     {\n              \"required\": \"true\",\n              \"formula\": \"\
    ([Hamlet] + [Tempest]) * 100\",\n              \"roundDecimalPlaces\": \"2\",\n\
    \              \"paymentDetails\": {\n                \"currencyCode\": \"USD\"\
    ,\n                \"lineItems\": [\n                  {\n                   \
    \ \"name\": \"Hamlet\",\n                    \"description\": \"The Danish Play\"\
    ,\n                    \"itemCode\": \"SHAK1\",\n                    \"amountReference\"\
    : \"Hamlet\"\n                  },\n                  {\n                    \"\
    name\": \"Othello\",\n                    \"description\": \"The one with Caliban\
    \ in it\",\n                    \"itemCode\": \"SHAK2\",\n                   \
    \ \"amountReference\": \"Tempest\"\n                  }\n                ],\n\
    \                \"gatewayAccountId\": \"e76668b4-xxxx-xxxx-xxxx-a208d659e490\"\
    \n              },\n              \"tabLabel\": \"Payment1\",\n              \"\
    documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\"\
    : 300,\n              \"yPosition\": 200\n            }\n          ]\n       \
    \ }\n      }\n    ]\n  },\n  \"status\": \"sent\"\n}\n```\n\nUse the\n[EnvelopeRecipients:\
    \ list][enveloperecipientslist] method\nto check the status of a payment.\nWhen\
    \ the payment is successful,\nthe `status` property of\nthe [`paymentDetails`][paymentdetails]\
    \ object\nis `payment_complete`.\n\n```json\n{\n  \"signers\": [\n    {\n    \
    \  \"tabs\": {\n        . . .\n        \"numberTabs\": [\n          {\n      \
    \      \"value\": \"10.00\",\n            \"tabLabel\": \"Hamlet\",\n        \
    \    \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n           \
    \ \"pageNumber\": \"1\",\n            \"xPosition\": \"323\",\n            \"\
    yPosition\": \"134\",\n          },\n          {\n            \"value\": \"10.00\"\
    ,\n            \"tabLabel\": \"Tempest\",\n            \"documentId\": \"1\",\n\
    \            \"recipientId\": \"1\",\n            \"pageNumber\": \"1\",\n   \
    \       }\n        ],\n        \"formulaTabs\": [\n          {\n            \"\
    formula\": \"([Hamlet] + [Tempest]) * 100\",\n            \"roundDecimalPlaces\"\
    : \"2\",\n            \"paymentDetails\": {\n              \"status\": \"payment_complete\"\
    ,\n              \"currencyCode\": \"USD\",\n              \"lineItems\": [\n\
    \                {\n                  \"name\": \"Hamlet\",\n                \
    \  \"description\": \"The Danish Play\",\n                  \"itemCode\": \"SHAK1\"\
    ,\n                  \"amountReference\": \"Hamlet\"\n                },\n   \
    \             {\n                  \"name\": \"Tempest\",\n                  \"\
    description\": \"The one with Caliban in it\",\n                  \"itemCode\"\
    : \"SHAK2\",\n                  \"amountReference\": \"Tempest\"\n           \
    \     }\n              ],\n              \"gatewayAccountId\": \"e76668b4-xxxx-xxxx-xxxx-a208d659e490\"\
    \n            },\n            \"value\": \"20\",\n            \"required\": \"\
    true\",\n            \"locked\": \"false\",\n            \"tabLabel\": \"Payment1\"\
    ,\n            \"documentId\": \"1\",\n            \"recipientId\": \"1\",\n \
    \           \"pageNumber\": \"1\",\n          }\n        ]\n      },\n      \"\
    creationReason\": \"sender\",\n      \"email\": \"vreader@example.com\",\n   \
    \   \"name\": \"Voracious Reader\",\n      \"recipientId\": \"1\",\n      \"requireIdLookup\"\
    : \"false\",\n      \"status\": \"completed\",\n    }\n  ],\n  . . .\n}\n```\n\
    \n#### How to make a request for future payments\n\nUse the following steps to\
    \ make a request to collect a signer's payment method for future use:\n\n1. Add\
    \ a text tab with a descriptive `tabLabel` such as `FuturePayment`.\n2. In the\
    \ formula tab's `paymentDetails` object, add a `lineItem` object that references\
    \ the `tabLabel` from step 1.\n\n**Note**: Do not include this new `lineItem`\
    \ in formula calculations.\n\nThe following example builds on the previous code\
    \ block to also collect a payment method for future use:\n\n```\n{\n  \"documents\"\
    : [\n    {\n      \"documentBase64\": \"<base64-encoded PDF document>\",\n   \
    \   \"documentId\": \"1\",\n      \"fileExtension\": \"pdf\",\n      \"name\"\
    : \"payment.pdf\"\n    }\n  ],\n  \"emailSubject\": \"Order Some Books\",\n  \"\
    recipients\": {\n    \"signers\": [\n      {\n        \"email\": \"vreader@example.com\"\
    ,\n        \"name\": \"Voracious Reader\",\n        \"recipientId\": \"1\",\n\
    \        \"routingOrder\": \"1\",\n        \"tabs\": {\n          \"numberTabs\"\
    : [\n            {\n              \"value\": \"10.00\",\n              \"width\"\
    : 78,\n              \"required\": \"true\",\n              \"locked\": \"true\"\
    ,\n              \"tabLabel\": \"Hamlet\",\n              \"documentId\": \"1\"\
    ,\n              \"pageNumber\": \"1\",\n              \"xPosition\": \"323\"\
    ,\n              \"yPosition\": \"134\"\n            },\n            {\n     \
    \         \"value\": \"10.00\",\n              \"width\": 78,\n              \"\
    required\": \"true\",\n              \"locked\": \"true\",\n              \"tabLabel\"\
    : \"Tempest\",\n              \"documentId\": \"1\",\n              \"pageNumber\"\
    : \"1\",\n              \"xPosition\": \"323\",\n              \"yPosition\":\
    \ \"154\"\n            }\n          ],\n          \"textTabs\": [\n          \
    \  {\n              \"value\": \"\",\n              \"width\": 78,\n         \
    \     \"required\": \"true\",\n              \"locked\": \"true\",\n         \
    \     \"tabLabel\": \"FuturePayment\",\n              \"documentId\": \"1\",\n\
    \              \"pageNumber\": \"1\",\n              \"xPosition\": \"323\",\n\
    \              \"yPosition\": \"174\"\n            }\n          ],\n         \
    \ \"formulaTabs\": [\n            {\n              \"required\": \"true\",\n \
    \             \"formula\": \"([Hamlet] + [Tempest]) * 100\",\n              \"\
    roundDecimalPlaces\": \"2\",\n              \"paymentDetails\": {\n          \
    \      \"currencyCode\": \"USD\",\n                \"paymentOption\": \"save_and_authorize\"\
    ,\n                \"lineItems\": [\n                  {\n                   \
    \ \"name\": \"Hamlet\",\n                    \"description\": \"The Danish Play\"\
    ,\n                    \"itemCode\": \"SHAK1\",\n                    \"amountReference\"\
    : \"Hamlet\"\n                  },\n                  {\n                    \"\
    name\": \"Othello\",\n                    \"description\": \"The one with Caliban\
    \ in it\",\n                    \"itemCode\": \"SHAK2\",\n                   \
    \ \"amountReference\": \"Tempest\"\n                  },\n                  {\n\
    \                    \"name\": \"Request books\",\n                    \"description\"\
    : \"collect Payment method\",\n                    \"itemCode\": \"\",\n     \
    \               \"amountReference\": \"FuturePayment\"\n                  }\n\
    \                ],\n                \"gatewayAccountId\": \"e76668b4-xxxx-xxxx-xxxx-a208d659e490\"\
    \n              },\n              \"tabLabel\": \"Payment1\",\n              \"\
    documentId\": \"1\",\n              \"pageNumber\": \"1\",\n              \"xPosition\"\
    : 300,\n              \"yPosition\": 200\n            }\n          ]\n       \
    \ }\n      }\n    ]\n  },\n  \"status\": \"sent\"\n}\n```\n\n### Some Things to\
    \ Keep in Mind About Payments\n\n* An envelope is not completed until all payments\
    \ are completed.\n\n* If a DocuSign account Administrator\n  deletes a payment\
    \ gateway account connection\n  DocuSign cancels all in-process envelopes\n  that\
    \ reference the deleted payment gateway account.\n\n* If the sender voids an envelope,\n\
    \  all payment authorizations are canceled.\n\n* If a required recipient refuses\
    \ to sign,\n  all authorized payments are canceled.\n\n* If a required recipient's\
    \ payment fails authorization,\n  DocuSign attempts to recover\n  by sending the\
    \ recipient\n  notification about the failed payment authorization.\n  The recipient\
    \ has the opportunity\n  to correct the payment method information.\n\n* Each\
    \ recipient's payment is authorized separately.\n  Accounts are charged and payment\
    \ made\n  after all required tabs are completed,\n  and all payments in an envelope\
    \ for all recipients are authorized.\n\n* Refunds are not supported.\n  Conduct\
    \ refunds or payment changes\n  with the payment gateway separately from DocuSign.\n\
    \n* At this time, DocuSign does not charge a per-transaction fee.\n\n\n[enveloperecipientslist]:\
    \ https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipients/list/\n\
    [formulatab]:             https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/\n\
    [ISO4217]:                https://en.wikipedia.org/wiki/ISO_4217\n[numbertab]:\
    \              https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/\n\
    [paymentgateways]:        https://support.docusign.com/en/guides/managing-payment-gateways\n\
    [paymentguide]:           https://support.docusign.com/en/guides/requesting-payments-along-with-signatures\n\
    [paymentlineitem]:        https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/\n\
    [paymentdetails]:         https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/EnvelopeRecipientTabs/create/\n\
    [stripe]:                 https://stripe.com/\n\n\n## Using Custom Tabs in Envelopes\
    \ and Templates\n\nCustom Tabs can be added to envelopes and templates\nby setting\
    \ the `customTabId` property\nwhen creating an envelope or template recipient\n\
    or when adding a new tab for an existing recipient.\nThe custom tab must be added\
    \ as the correct tab type.\nFor example if the custom tab type is text, it cannot\
    \ be used as a number tab.\n\nWhen the `customTabId` property is set,\nthe new\
    \ tab inherits all the custom tab properties.\nRequired information that is not\
    \ included in the custom tab,\nsuch as document ID and page ID, must be included\
    \ when adding the tab.\nIf the custom tab does not have anchor settings, the X\
    \ and Y positions must be included.\n\nAfter the tab is created,\nit is treated\
    \ as any other tab for updating or deleting.\n\n## Anchoring Tabs\n\nThe tab anchoring\
    \ option\nallows you to send documents for signature\nthat do not have a fixed\
    \ layout or format.\nIn these documents you might not know\nthe absolute location\
    \ of the tabs\nwhen you design your API client application because the tabs must\
    \ move with text.\nAs an alternative to sending X and Y coordinates for tabs,\n\
    the DocuSign Service can derive an anchor location for the tab\nby correlating\
    \ anchor information to data within the document.\n\nWhen the DocuSign Service\
    \ receives a request that contains tabs\nwith anchor information,\nit searches\
    \ the document for instances of the `anchorString` property.\nWhen found,\nit\
    \ places a tab of the specified type for the designated recipient.\nTab positions\
    \ are established by setting offsets for the tab.\n\nWhen you apply tabs to the\
    \ document,\nDocuSign does not remove or replace the text in the `anchorString`\
    \ property. You can hide codified anchors by using the same font color as the\
    \ background of the document. So the anchor can be used by DocuSign processes\
    \ and it will not be visible on the document.\n\nTo use an anchoring option:\n\
    \n1. Identify the location in the document by text string. You can use a pre-existing\
    \ text string or add a new one.\nFor best performance DocuSign recommends using\
    \ single word anchor strings when possible, especially when there are a large\
    \ number of pages in the envelope.\nFor example, you might want to add a Sign\
    \ Here tab to the \"Borrower's Signature\" lines in a document, but that phrase\
    \ might occur in places in the document where you don't want to tab to appear.\
    \ In this case, you could add the text \"BorrowerSignHere\" in white font color\
    \ (so that isn't visible in the document) to all the places you want Sign Here\
    \ tabs to appear and use \"BorrowerSignHere\" as the anchor string.\n1. Reference\
    \ the anchor through the `anchorString` property of the tab.\n1. Determine the\
    \ offset from the anchor string location to where the tab should be placed.\n\n\
    Setting a positive value in the `anchorXOffset` property moves the tab right on\
    \ the page and positive values in the  `anchorYoffset` prove moves the tab down\
    \ the page. The `anchorUnits` property specifies the units used for the offsets.\n\
    For Sign Here and Initial Here tabs the bottom-left of the anchor string is equivalent\
    \ to position (0,0), and the bottom-left of the tab graphic is placed relative\
    \ to that.\nFor all other tabs the bottom-left of the anchor string is equivalent\
    \ to position (0,0), and the top-left of the tab graphic is placed relative to\
    \ that.\nDocuSign does not currently provide tools to derive the offset values.\
    \ Determination of the proper offset will likely require some trial-and-error.\n\
    \n### Rules for working with anchor tags\n\nWhen anchor tabs are used, all documents\
    \ in the envelope are searched for the `anchorString` property.\n\n* You set the\
    \ text of the anchor string in the `anchorString` property. DocuSign tabs are\
    \ created for each instance of the `anchorString` property within the document,\
    \ so special care must be taken to establish unique anchor strings that do not\
    \ result in unintentional tabs.\n* You cannot use the same anchored tab for different\
    \ recipients for the same document.\n* The DocuSign system cannot search for text\
    \ that is embedded in an image when checking for anchor strings.\n* X or Y offsets\
    \ supplied for a tab apply to all instances of the tab in the document. To use\
    \ different offsets at different locations in the document for the same recipient,\
    \ create multiple, unique anchor tabs.\n* If the Y offset value of an anchor string\
    \ would force a tab outside of the page boundaries, the tag is placed at the page\
    \ boundary. If the X offset value places a tab outside of the page boundaries,\
    \ the error message `Invalid_User_Offset` is sent. The error message includes\
    \ the X offset that resulted in the error.\n* The system does not support an anchor\
    \ string embedded in the form of a PDF X-object in the document.\n* The system\
    \ does not re-flow the text that surrounds the anchor tabs. It is the responsibility\
    \ of the document author to provide sufficient white space to contain the potential\
    \ width of the ultimate tab value.\n\n### Tips and Tricks\n\nThe following are\
    \ tips for effective use of anchor tags:\n* In order to avoid unintentional conflicts\
    \ between text contained in an `anchorString` property and the text that naturally\
    \ exists in documents, establish a codified syntax for the anchor string text\
    \ that is unlikely to appear elsewhere in a document.\n* Develop an extensible\
    \ and consistent syntax that can be used across multiple document types.\n* Especially\
    \ for documents that have variable numbers of tabs or signers, author the source\
    \ document to include hidden anchor tabs for all potential signers/permutations.\
    \ Then, control the tabs that are actually placed by including/excluding the anchor\
    \ tabs in the request. This approach allows a single document to be used for all\
    \ use cases instead of maintaining separate documents for each scenario.\n\n##\
    \ Automatically Populating Tabs\n\nIf you want similar tab types\nto automatically\
    \ populate with the same data,\nyou must follow these guidelines:\n\n* Each `tabLabel`\
    \ entry must have the characters\n  `\\\\*` in front of the label.\n  If you omit\
    \ the `\\\\*` prefix,\n  only the first occurrence of the tab is populated.\n\n\
    \  When automatically populating tabs,\n  the `tabLabel` must not contain any\
    \ spaces.\n  In the JSON example below,\n  the Text tabs  properties `StudentLastName`\
    \ and `StudentFirstName`\n  will be auto-populated as specified (\"Doe\" and \"\
    John\")\n  each place they appear throughout the envelope.\n\n  ```\n  \"tabs\"\
    : {\n    \"textTabs\": [\n    {\n      \"tabLabel\": \"\\\\*StudentLastName\"\
    ,\n      \"value\": \"Doe\"\n    },\n    {\n      \"tabLabel\": \"\\\\*StudentFirstName\"\
    ,\n      \"value\": \"John\"\n    }]\n  }\n  ```\n\n* Note that `\\\\*` matches\
    \ _anything_.  If you were to add\n  another tab with the `tabLabel` set to `\\\
    \\*Name` to the\n  example above, it would end up matching the other two\n  labels\
    \ as well.\n\n* Each occurrence of the tab must have identical properties.\n\n\
    \  For example, suppose there are two Text tabs in a document,\n  each with `tabLabel`\
    \ set to `Name`.\n  If one tab has the `bold` property set to **true**,\n  and\
    \ the other has the `bold` property set to **false**,\n  only the first one will\
    \ be populated.\n  In order to automatically populate both occurrences\n  of the\
    \ `Name` Text tabs,\n  the `bold` property must be set to the same value for both\
    \ tabs.\n"
  - name: EnvelopeDocumentTabs
    description: The EnvelopeDocumentTabs resource provides methods that enable you
      to manage tabs in envelopes. For a complete list of options, see the following
      Properties section.
  - name: TemplateDocumentTabs
    description: The EnvelopeDocumentTabs resource provides methods that enable you
      to manage tabs in a template.
  - name: EnvelopeViews
    description: |-
      The `EnvelopeViews` resource provides methods that return URLs that you can embed into your application to provide access to the DocuSign UI.

      The following Envelope Views are available:

      -  Console View: The authentication view of the DocuSign UI.
      -  Correct View: The correction view of the DocuSign UI.
      -  Edit View: The editing view of the DocuSign UI.
         **Note**: This provides the same functionality as the sender view.
      -  Recipient View: The view the recipient sees in the DocuSign UI.
      -  Shared Recipient View: The view a user sees of a shared envelope in the DocuSign UI.
      -  Sender View: The sending view of the DocuSign UI.
  - name: AccountSealProviders
    description: ""
  - name: Accounts
    description: The Accounts resource provides methods that allow you to create, delete,
      and manage your accounts.
  - name: AccountSignatureProviders
    description: |-
      Standards-Based Signatures (SBS) is the label used to describe DocuSign's suite of signatures that comply with regional and industry regulations, such as the electronic IDentification, Authentication and trust Services (eIDAS) regulation in Europe.

      ## Feature Differences When Using Standards-Based Signatures

      Some DocuSign features are not compatible with Standards-Based Signatures, while others work somewhat differently. It's important to understand these key differences.

      ### DocuSign Features Not Compatible with SBS

      - Attachment by fax
      - Concatenation of signer attachments
      - Legacy digital signatures
      - Markup
      - Notary

      ### DocuSign Features That Change with SBS

      The following features work slightly differently with SBS:

      - **Advanced Correct**: After the first signature, adding or deleting a field is not allowed. This behavior occurs because SBS does not allow adding or removing form fields after a digital signature has already been applied to a PDF.
      - **Downloading Combined Envelopes**: A combined PDF is not digitally signed. This behavior occurs because concatenating digitally signed PDFs breaks the digital signatures on the PDFs.
      - **Freeform Signing**: After someone has signed, allows only signature and initials on free-form. This behavior occurs because if another signer has already signed the document, adding fields other than signature fields will break the existing digital signatures on the document.
      - **Watermarks**: All watermarks are added as PDF annotations. This behavior occurs because burning the watermark into the PDF will break the digital signatures on the document.
      - **Wet Signing**: Wet-signed documents are added as new documents to envelopes. This behavior results in the uploaded or faxed, physically signed document being added as a new document to the envelope. This new document gets only a platform seal.

      For more information, see [Standards Based Signatures](https://developers.docusign.com/esign-rest-api/guides/standards-based-signatures).
  - name: BillingPlans
    description: The Billing resource provides methods that allow you to manage the
      billing plans,associated with an account.
  - name: Invoices
    description: The Invoices resource provides methods that allow you to manage the
      invoices for an account.
  - name: Payments
    description: |-
      The Payments resource provides methods that allow you to manage payments for an account.

      These calls can only be used by users with account administrator privileges.
  - name: CloudStorage
    description: The CloudStorage resource provides methods that allow you to list files
      stored on your cloud storage provider.
  - name: CloudStorageProviders
    description: |-
      The following providers are supported:

      * Google Drive
      * Dropbox
      * Box
      * Evernote
      * OneDrive

      To use cloud storage files, you must first give DocuSign access to your cloud storage provider. You can disconnect authorized a cloud storage provider at any time.
  - name: ConnectConfigurations
    description: "The `ConnectConfigurations` resource enables you to configure the\
    \ DocuSign Connect service for your account.\n\nYou can use this resource to configure\
    \ account-level webhooks that send notifications about every envelope sent from\
    \ your account. You can set account-level webhooks to listen for events for envelopes\
    \ sent by a specific user on your account, by multiple specific users, or from\
    \ any of the users on your account. These events will be tracked, and can be delivered\
    \ to a listening application.\n\n**Note**: To use DocuSign Connect, it must be\
    \ enabled in your DocuSign account. It is not enabled by default.\n\n## Aggregated\
    \ Messages\n\nTo avoid duplicate simultaneous events, you can configure Connect\
    \ to aggregate similar events into a single delivery. By default, aggregation\
    \ is enabled on all Connect configurations. Similar or simultaneous events will\
    \ be aggregated so your listener doesn't receive extraneous messages. \n\nFor\
    \ example, when the final recipient signs an envelope,  the system delivers a\
    \ single, aggregated Connect event, rather than separate Recipient: complete and\
    \ Envelope: complete messages. This aggregation process ensures that you only\
    \ receive the minimal viable number of messages about an envelope's life cycle.\
    \ \n\n## Send Individual Messages\n\nWhen you enable Send Individual Messages\
    \ (SIM) mode on a Connect configuration, DocuSign will deliver notifications for\
    \ all envelope events individually. In contrast with aggregated messages, when\
    \ a final recipient completes an envelope, your listener will receive a single\
    \ Recipient: complete event followed by a single Envelope: complete event for\
    \ the final participating party on the agreement.  If you need more granular control\
    \ over event notifications, you can enable SIM mode in the Admin area of the RADmin\
    \ console. For more information about SIM mode, see [Using Connect's New Send\
    \ Individual Messages Feature](https://www.docusign.com/blog/dsdev-connect-send-individual-messages/).\n\
    \n**Note**: To create an envelope-level webhook instead of using account-level\
    \ webhooks, use the Envelopes::Create method and add an `eventNotification` object\
    \ to an envelope object."
  - name: ConnectEvents
    description: The ConnectEvents resource provides methods that allow you to read,
      delete, and republish the connect logs associated with an envelope.
  - name: CustomTabs
    description: |-
      The CustomTabs resource provides methods that allow you create and manage custom tabs based on the existing DocuSign tabs.

      You can create a tab with pre-defined properties, such as a text tab with a certain font type and validation pattern. Users can access the custom tabs when sending documents through the DocuSign web application.

      Custom tabs can be created based on the  approve, checkbox, company, date, date signed, decline, email, email address, envelope ID, first name, formula, full name, initial here, last name, list, note, number, radio, sign here, signer attachment, SSN, text, title, and zip tabs.
  - name: RequestLogs
    description: "The RequestLogs resource provide methods that allow you to retrieve\
    \ and delete the API request log files.\n\nThe log files contain the API requests\
    \ associated with your integration. They can aid you in troubleshooting specific\
    \ issues within an integration, or if DocuSign Support requests an API trace log. "
  - name: Resources
    description: The Resources resource provides a method which retrieves the base resources
      that are available.
  - name: Services
    description: The Services resource provides a method that allow you to retrieve
      the available service versions.
  - name: EnvelopeConsumerDisclosures
    description: "The `EnvelopeConsumerDisclosures` resource provides methods that enable\
    \ you to retrieve the Electronic Record and Signature Disclosure (ERSD) for an\
    \ envelope recipient. This is the disclosure that displays to each new recipient\
    \ who is going to sign or add other information, or who is required to view the\
    \ documents you send to them. The recipient must read and agree to the terms of\
    \ the disclosure before they can access and take action on the documents you send.\
    \ The ERSD does not apply to copy-only recipients, but does apply to recipients\
    \ who must sign or view your documents.\n\nYou can retrieve either the default\
    \ ERSD that DocuSign provides for U.S.-based transactions, or a custom ERSD.\n\
    \n## Languages\n\nYou specify the language of the disclosure version that you\
    \ want to retrieve by using the `langCode` parameter.\n\n**Important**: The system\
    \ does not translate the ERSD for you. An account administrator must create a\
    \ version of the account-level disclosure for each language that your signers\
    \ use. \n\nFor more information, see [Legal Disclosure](https://support.docusign.com/en/guides/ndse-admin-guide-legal-disclosure)."
  - name: EnvelopeDocuments
    description: |+
      <!-- resources aren't rendered the same way
           as other pages. This is a little hack to
           make the headings work better -->
      <style>
      h1, h2, h3 {
        margin-top: 1em;
      }
      </style>

      The EnvelopeDocuments resource provides methods
      that manage documents in an envelope.
      You can:
      * add one or more documents to the envelope
      * retrieve one or more documents from the envelope
      * delete documents from the envelope

      All of the methods in this resource
      operate on on an existing envelope.
      Before you can add documents
      to an envelope,
      you must first create it
      with the [Envelopes: create][envelopescreate] method.


      [envelopescreate]: https://developers.docusign.com/docs/esign-rest-api/reference/Envelopes/Envelopes/create/

  - name: EnvelopeEmailSettings
    description: |-
      The EnvelopeEmailSettings provide methods that allow you to manage the email override settings for an envelope.

      Email override settings change the reply to email address, name, or the BCC for email archive information, for the envelope. Note that changing email settings will only affect email communications that occur after the addition was made.

      The BCC Email address feature is designed to provide a copy of all email communications for external archiving purposes. DocuSign recommends that envelopes sent using the BCC for Email Archive feature, including the BCC Email Override option, include additional signer authentication options. To send a copy of the envelope to a recipient who does not need to sign, use a Carbon Copies or Certified Deliveries Recipient Type.
  - name: Envelopes
    description: "The Envelope resource provides methods that allow you to manipulate\
    \ and monitor envelopes. \n\nOnce you have authenticated the user you can use\
    \ the Envelopes: createEnvelope method to create an envelope. You can call the\
    \ EnvelopeDocuments: update or EnvelopeDocuments: updateList method to add additional\
    \ documents.\n\nSetting the `status` property on the envelope to `sent` allows\
    \ you to send it or `created` to save it as a draft.\n\nYou can receive envelope\
    \ event notifications by setting the `eventNotification` properties. When the\
    \ envelope or recipient status changes to one of the specified status codes, a\
    \ notification is sent to a URL that you specify.\n\nIf you have an envelope that\
    \ you have previously saved, you can modify the subject and message, send it,\
    \ void it, or place it in the purge queue using the Envelope: update method.\n\
    \nIn addition to receiving notifications you can monitor the status of the envelopes\
    \ using the following methods:\n* Envelope: getEnvelope - To get the status of\
    \ a envelope. \n* Envelope: listStatus - To get the envelope status for a set\
[...]
